html{
    height: 100vh;
}



body {
    background-color: lavender;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 800px;
    /* height: 450px; */
    background-color: rgb(255, 255, 255);
    border-radius: 25px;
    box-shadow: 0 4px 8px lightslategray;
    margin-top: 20px;
    
}

h2 {
    padding-top: 10px;
}

.card-index {
    /* width: 300px; */
    /* height: 100 px; */
    font-size: 20px;
    padding: 50px;
}

.nova_cat {
    width: 80px;
    height: 200 px;
    font-size: 20px;
    padding: 7px;
}

.cor {
    background: linear-gradient(50deg, #fabc50, #f06dde);
    
}
