h1{
    color: darkcyan;
    background-color: rgb(110, 214, 209);
    border: 7px solid;
    border-color:darkcyan;
    border-radius: 10px;
    text-align: center;
    /* font-family:'Times New Roman', Times, serif; */
    
}

button{
    font-size: 30px;
    color: darkcyan;
    background-color: rgb(110, 214, 209);
    border: 6px solid;
    border-color:darkcyan;
    border-radius: 10px;
    /* font-family:'Times New Roman', Times, serif; */
}

form{
    text-align: center;
    font-size: 30px;
    color: darkcyan;
    /* font-family:'Times New Roman', Times, serif; */
}

p{
    text-align: center;
    font-size: 25px;
    color: darkcyan;
    /* font-family:'Times New Roman', Times, serif; */
}

a{
    color: lightseagreen;
}

label, input{
    border-radius: 30px;
    border-color: darkcyan;
    background-color: rgb(246, 254, 255);
    width: 150px;
    height: 30px;
    text-align: center;
    color: darkcyan;
    /* font-family:'Times New Roman', Times, serif; */
    font-weight: bold;
}

/* table{
    font-family:'Times New Roman', Times, serif;
} */

table thead{
    color: darkcyan;
}

table tbody{
    color: rgb(110, 214, 209);
}

table a{
    color: lightseagreen;
}

body{
    background-color: rgb(221, 253, 255);
}

h2, h3{
    color: darkcyan;
}